/* 
TODO: Add styles to match the layout in the image.
Note: you should only need to use flexbox properties and margin/padding to create the layout.
*/
.card-container {
    display: flex;

}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

nav {
    display: flex;
    gap: 1rem;
}



/* 
Challenge: Use flexbox in media queries to create a responsive layout 
*/


