/* 
TODO: Add styles to match the layout in the image.
Note: you should only need to use flexbox properties and margin/padding to create the layout.
*/
.card-container {
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

nav {
    display: flex;
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features {
    display: flex;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
}

.footer-section {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex: 1;
}


/* 
Challenge: Use flexbox in media queries to create a responsive layout 
*/


